# Python
__pycache__/
desktop/
build/
dist/
*venv*/
python_embeded/
*.pyc

# Misc
*.log
project/
.env
gui_settings.yaml
*.dll
*.exe
.vscode
useful_tools/GalTransl_DumpInjector/config.ini
useful_tools/GalTransl_DumpInjector/VNTextPatch/names.xml

# Models
*.gguf
faster-whisper*/
translate/
whisper-faster/

# Faster Whisper XXL
_xxl_data
project/config.yaml

# Tests
tests
separate