# Python
__pycache__/
desktop/
build/
dist/
*venv*/
python_embeded/
build/
dist/
*venv*/
python_embeded/
*.pyc

# Misc
project/
.vscode/
*.log
.env
gui_settings.yaml
*.dll
*.exe
useful_tools/GalTransl_DumpInjector/config.ini
useful_tools/GalTransl_DumpInjector/VNTextPatch/names.xml

# Models
models/
*.gguf

# Tests
tests
separate