# ASRLabs
asrlabs[ctc] @ git+https://github.com/MurthiNext/ASRLabs.git@v1.0

# VoiceTransl
httpx<0.28
opencc
packaging
prompt_toolkit
PyYAML
Requests
tenacity
tiktoken
tqdm
colorlog
gradio
yt-dlp
pysrt
bilibili-dl
PyQt-Fluent-Widgets
pyinstaller
openai
torch
librosa
onnx
soundfile
onnxruntime
openpyxl
orjson
beautifulsoup4
playsound3
fasttext-predict
InquirerPy
alive-progress
vaporetto
aiofiles
httpx-aiohttp
budoux