name: Create Executable
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
jobs:
  pyinstaller-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: App-windows
          - os: macos-latest
            name: App-macos
          - os: ubuntu-latest
            name: App-linux
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.11'
          spec: 'app.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: ${{ matrix.name }}